body {
    margin:0;
    background:black;
    color:#e46300;
    font-family: 'Pixelify Sans', monospace;
    overflow:hidden;
    text-align:center;
}

/* ===== EKRANY ===== */
.screen {
    position: fixed;
    width: 100%;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url('3.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    padding: 20px;
    z-index: 10;
}

/* ===== GRA ===== */
#graArea {
    position: fixed;
    width: 100%;
    height: 100dvh;

    background-image: url('Cave.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    display:none;
    z-index: 1;
}

/* ===== UI ===== */
#ui {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}

.uiText {
    font-size: clamp(18px, 4vw, 30px);
}

#progressBar {
    width: clamp(200px, 60vw, 420px);
    height: 22px;
    border: 2px solid #e46300;
    margin-top: 12px;
    overflow: hidden;
}

#progress {
    width: 0%;
    height: 100%;
    background: #e46300;
    transition: width 0.1s;
}

#percentText {
    margin-top: 8px;
    font-size: clamp(18px, 4vw, 30px);
}

/* ===== OGNIEŃ ===== */
.packet {
    position: fixed;
    font-size: clamp(40px, 12vw, 70px);
    cursor: pointer;
    z-index: 5;
}

/* ===== ODLICZANIE ===== */
#countdown {
    position: fixed;
    width:100%;
    height:100dvh;

    display:none;
    justify-content:center;
    align-items:center;

    font-size: clamp(60px, 20vw, 150px);
    background: black;
    z-index: 30;
}

/* ===== PREZENT ===== */
.gift {
    font-size: clamp(80px, 25vw, 150px);
    cursor:pointer;
}

/* ===== TRZĘSIENIE ===== */
@keyframes shake {
    0% { transform: translate(0px, 0px); }
    20% { transform: translate(-10px, 5px); }
    40% { transform: translate(10px, -5px); }
    60% { transform: translate(-10px, 5px); }
    80% { transform: translate(10px, -5px); }
    100% { transform: translate(0px, 0px); }
}

.shake {
    animation: shake 0.2s infinite;
}

.hr {
    border: 1px solid #e46300;
}
