body {
    margin:0;
    background:black;
    color:#e46300;
    font-family: 'Pixelify Sans', monospace;
    overflow:hidden;
    text-align:center;
}

/* ===== RAMKA PIXELART ===== */
.screen, #graArea {
    position: fixed;
    width: 100%;
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

/* MENU i INSTRUKCJA */
.screen {
    background-image: url('3.png');
    flex-direction: column;
    padding: 20px;
}

/* GRA – RAMKA */
#graArea {
    background-image: url('Cave.png');
}

/* ===== WŁAŚCIWY OBSZAR GRY ===== */
#innerArea {
    position: relative;
    width: 80%;      /* obszar gry wewnątrz ramki */
    height: 70%;
    max-width: 900px;
    max-height: 600px;

    /* granice gry */
    border: 0px solid red; /* możesz włączyć na testy */
}

/* ===== UI ===== */
#ui {
    position: absolute;
    top: -60px; /* nad obszarem gry */
    left: 50%;
    transform: translateX(-50%);
}

.uiText {
    font-size: clamp(18px, 4vw, 30px);
}

#progressBar {
    width: clamp(200px, 60vw, 420px);
    height: 22px;
    border: 2px solid #e46300;
    margin-top: 12px;
    overflow: hidden;
}

#progress {
    width: 0%;
    height: 100%;
    background: #e46300;
    transition: width 0.1s;
}

#percentText {
    margin-top: 8px;
    font-size: clamp(18px, 4vw, 30px);
}

/* ===== OGNIEŃ ===== */
.packet {
    position: absolute;
    font-size: clamp(40px, 12vw, 70px);
    cursor: pointer;
}

/* ===== ODLICZANIE ===== */
#countdown {
    position: fixed;
    width:100%;
    height:100dvh;
    display:none;
    justify-content:center;
    align-items:center;
    font-size: clamp(60px, 20vw, 150px);
    background: black;
}

/* ===== PREZENT ===== */
.gift {
    font-size: clamp(80px, 25vw, 150px);
    cursor:pointer;
}

/* ===== TRZĘSIENIE ===== */
@keyframes shake {
    0% { transform: translate(0px, 0px); }
    20% { transform: translate(-10px, 5px); }
    40% { transform: translate(10px, -5px); }
    60% { transform: translate(-10px, 5px); }
    80% { transform: translate(10px, -5px); }
    100% { transform: translate(0px, 0px); }
}

.shake {
    animation: shake 0.2s infinite;
}

.hr {
    border: 1px solid #e46300;
}
